<%= form_for(@tutor_detail) do |f| %>
  <% if @tutor_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor_detail.errors.count, "error") %> prohibited this tutor_detail from being saved:</h2>

      <ul>
      <% @tutor_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
    
  <div class="list-inline" >
    <%= f.label :subject_id %><br>
    <% Subject.all.collect do |subject|%>
      <li>
        <%= check_box_tag "subject_ids[]", subject.id %>
        <%= subject.name %>
      </li>
    <% end %>
  </div>
  
  <div class="list-inline">
    <%= f.label :level_id %><br>
    <% Level.all.collect do |level|%>
      <li>
        <%= check_box_tag "level_ids[]", level.id %>
        <%= level.name %>
      </li>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :job %><br>
    <%= f.text_field :job %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender_id, options_for_select(Gender.all.collect{|l| [l.name, l.id]}), include_blank: "None" %>
  </div> 
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
