<p id="notice"><%= notice %></p>

<h1> Tutors </h1>

<%unless current_user.nil? %>
  <%= link_to 'NEW TUTOR', new_class_detail_path %>
  <%end%>
    <div id="articles">
    <% for article in @tutor_details %>
      <div class="article" style="padding: 10px; border-bottom: gray solid 2px;">
        <h4><%= link_to h(article.title), article %></h4>
        <p><i>Updated at <%= article.updated_at %></i></p>
        <div class="author" style="color: red">from <%=article.user_link%> </div>        
        <div class="address">Address: <%= article.address %></div>
      </div>
    <% end %>
  </div>

<%= will_paginate @tutor_details %>
