<p id="notice"><%= notice %></p>

<% if @kind.eql?("Tutor") %> 
<h1>Tutors</h1>
<p>
<%unless current_user.nil? %>
  <%= link_to 'NEW TUTOR', new_class_detail_path %>
<%end%>
<div id="articles">
  <% for article in @tutor_details %>
    <div class="article" style="padding: 10px; border-bottom: gray solid 2px;">
      <h4><%= link_to h(article.title), article %></h4>
      <p><i>Updated at <%= article.updated_at %></i></p>
      <div class="author" style="color: red">from <%=link_to User.find_by(id: article.user_id).username, user_path(article.user_id) %> </div>        
      <div class="address">Address: <%= article.address %></div>
    </div>
  <% end %> 

</div>

<%= will_paginate @tutor_details %>
<% else %>
<h1>Classes</h1>
<p>
<%unless current_user.nil? %>
<%= link_to 'NEW CLASS', new_class_detail_path %>
<%end%>
</p>
<br>

<div id="articles">
  <% for article in @class_details %>
    <div class="article" style="padding: 10px; border-bottom: gray solid 2px;">
      <h4><%= link_to h(article.title), article %></h4>
      <p><i>Updated at <%= article.updated_at %></i></p>
      <div class="author" style="color: red">from <%=link_to User.find_by(id: article.user_id).username, user_path(article.user_id) %> </div>
      <div class="salary">Salary: <%= article.salary %><%= " VND"%> </div>
      <div class="address">Address: <%= article.address %></div>
    </div>
  <% end %>
</div>

<%= will_paginate @class_details %>
<% end %>
