<h1>Classes</h1>
<p>
<%unless current_user.nil? %>
<%= link_to 'NEW CLASS', new_class_detail_path %>
<%end%>
</p>
<br>

<div id="articles">
  <% for article in @class_details %>
    <div class="article" style="padding: 10px; border-bottom: gray solid 2px;">
      <h4><%= link_to h(article.title), article %></h4>
      <p><i>Updated at <%= article.updated_at %></i></p>
      <div class="author" style="color: red">from <%=link_to User.find_by(id: article.user_id).username, user_path(article.user_id) %> </div>
      <% if article.salary.present? %>
      	<div class="salary">Salary: <%= article.salary %><%= " VND"%> </div>
      <% end %>
      <% if article.salary.present? %>
      	<div class="address">Address: <%= article.address %></div>
      <% end %>
    </div>
  <% end %>
</div>

<%= will_paginate @class_details %>



<!-- <div ng-app="">
  <!-- <input id="query" type="text" ng-model="search_str"/> -->
  <input id="query" type="text" ng-model="search_str"/>
  <button id="search-button">Search</button>
  <!-- <iframe id="search-container" name="search-container"></iframe> -->
  <div id="search-container"></div>
  <div id = "youtube-videos"></div>
</div> -->
