<title><%= @class_detail.title %></title>
<h3>
  <strong><%= @class_detail.title %></strong>
</h3>
<p id="notice"><%= notice %></p>

<p>
  <i>Updated at 
    <%= @class_detail.updated_at %>
  </i>
</p>

<p>
  <strong>From:</strong>
  <%= link_to User.find(@class_detail.user_id).username, user_path(@class_detail.user_id) %>
</p>

<p>
  <strong>Subject:</strong>
  <% @subject_ids.each do |s| %>
  <%= Subject.find(s.subject_id).name %>;
  <% end %>
</p>

<p>
  <strong>Level:</strong>
  <%= Level.find(@class_detail.level_id).name %>
</p>

<% if @class_times.present? %>
  <p>
    <strong>Time:</strong>
    <% @class_times.each do |class_time| %>
    <%= TimeOfDay.find(class_time.tod_id).name %>
    <%= DayOfWeek.find(class_time.dow_id).name %>;
    <% end %>
  </p>
<% end %>

<% if @class_detail.gender_id.present?%>
  <p>
    <strong>Gender:</strong>
    <%= Gender.find(@class_detail.gender_id).name if @class_detail.gender_id.present?%>
  </p>
<%end%>

<% if @class_detail.salary.present?%>
<p>
  <strong>Salary:</strong>
  <%= @class_detail.salary %>
  <%= "VND" %>
</p>
<% end %>

<% if @class_detail.gender_id.present?%>
<p>
  <strong>Address:</strong>
  <%= @class_detail.address %>
</p>
<% end %>

<% if @class_detail.description.present?%>
<p>
  <strong>Description:</strong>
  <%= @class_detail.description %>
</p>
<% end %>
<%= social_share_button_tag(@class_detail.title, :popup => "true", url: request.original_url)%>
<% if user_signed_in? && (current_user.id == @class_detail.user_id or current_user.role_id == 1) %>
<%= link_to 'Edit', edit_class_detail_path(@class_detail) %>|
<%= link_to 'Destroy', class_detail_path, method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %><br>

<%=link_to 'Back', class_details_path %>
