<!DOCTYPE html>
<html>
<head>
  <title><%= render_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"> 
    $(function ()
      { $("#myModal").modal({show:false });} 
  </script>

</head>
<body onload="resizediv()">

  <header id="header"><!-- 
    <%= render "welcome/login_modal" %> -->
    <%= render 'layouts/header' %>
  </header> 

  <div class="container-fluid">  
    <div class="row">
      <div class="col-sm-12">
        <div ng-app="">
          <%= form_tag(tutor_details_search_path, method: "get") do %>  
            <%= label_tag :subject_id %>
            <%= select_tag :subject_id, options_for_select(Subject.all.collect {|subject| [subject.name, subject.id]}), include_blank: "All"%>
            <%= label_tag :level_id %>
            <%= select_tag :level_id,  options_for_select(Level.all.collect {|level| [level.name, level.id]}), include_blank: "All" %>     
            <%= text_field_tag(:q) %>
            <%= select_tag :kind, options_for_select(["Class", "Tutor"])%>
            <%= submit_tag "Search", class: "search_button"  %> 
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <% Subject.all.each do |subject| %>
          <div class="subject">
            <%= link_to subject.name, subject_search_path(subject.id) %><br>
          </div>
        <% end %>
      </div>          

      <div class="col-sm-3">
        <h3>Lastest post</h3>
        <% if ClassDetail.last.present? && TutorDetail.last.present? %>
        <% @article = ClassDetail.last.updated_at >= TutorDetail.last.updated_at ? ClassDetail.last : TutorDetail.last %> 
        <% elsif ClassDetail.last.present? then @article = ClassDetail.last %>
        <% elsif TutorDetail.last.present? then @article = TutorDetail.last %>
        <% end %>

        <% if @article.present? %>
        <div id="articles">
          <div class="article" style="padding: 10px; border-bottom: gray solid 2px;">
            <h4><%= link_to h(@article.title), @article %></h4>
            <p><i>Updated at <%= @article.updated_at %></i></p>
            <div class="author" style="color: red">from <%=link_to User.find_by(id: @article.user_id).username, user_path(@article.user_id) %> </div>
            <% if @article.address.present? %>
              <div class="address">Address: <%= @article.address %></div>
            <% end %>
          </div>
        </div>
        <% end %>

        <h3>Newest users</h3>
        <% User.last(5).each do |user| %>
        <p>
          <%= link_to user.username, user_path(user.id) %>
          <i> - signed up at <%= user.created_at %></i>
        </p>
        <% end %>
      </div>

      <div class="col-sm-7">
       <%= yield %>
      </div> 
    </div>
  </div>

  <footer>
     <%= render 'layouts/footer' %>
  </footer> 
</body>
</html>

