<!DOCTYPE html>
<html>
<head>
  <title>Tutors</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="resizediv()">
  <header id="header">
    <%= render 'layouts/header' %>
  </header>

  <main id="body" >
    <div class="right">
    <%= yield %>
  </div>
  </main>

  <footer>
     <%= render 'layouts/footer' %>
  </footer>
</body>
</html>